.idea
*.pyc
__pycache__
*~
runs
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.bak
*.sav
update_svn.sh
update_polybox.sh
svn/
*.egg-info
paper.pdf
notes.pdf
.ipynb_checkpoints
